/*Start Our Framework*/
*{
    -webkit-box-sizing: border-box;
    -mos-box-sizing: border-box;
    -o-box-sizing: border-box;
    box-sizing: border-box;
}
body{
    font-family: 'Roboto', sans-serif;
}
.container{
    width: 1200px;
    margin: auto;
}
.text-center{
    text-align: center;
}
.upper{
    text-transform: uppercase;
}
.main-color{
    color: #f7600e;
}
.main-background{
    background-color: #f7600e;
}
.overlay{
    background-color: rgb(49,55,61,.90);
    width: 100%;
    height: 100%;
}
::-webkit-input-placeholder {
    font-size: 14px;
}
:-moz-input-placeholder {
    font-size: 14px;
}
:-ms-input-placeholder {
    font-size: 14px;
}
.hidden{
    display: none;
}
.clear{
    clear: both;
}
/*End Our Framework*/

/*Start Header*/
.header{
    background-image: url(../image/header2.jpg);
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    color: #fff;
}

.header .navbar{
    overflow: hidden;
    padding: 20px 0;
}
.header .navbar .logo{
    font-size: 20px;
}
.header .navbar .links{
    float: right;
}
.header .navbar .links i{
    margin-left: 10px;
}
.header .intro h1{
    font-weight: 800;
    font-size: 50px;
    margin: 0;
}
.header .intro p{
    margin: 5px 0 40px;
    line-height: 1.9;
    font-size: 16px;
    color: #E2E2E2;
    padding: 0 200px;
}
.header .buttons button{
    padding: 10px 0;
    background: transparent;
    color: #fff;
    width: 180px;
    font-size: 14px;
    border: 1px solid #909090;
    margin: 0 8px;
    border-radius: 10px;
    -webkit-transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    -o-transition: all .5s ease-in-out;
    transition: all .5s ease-in-out;
}
.header .buttons button:hover{
    background: #f7600e;
    color: #fff;
    border: 1px solid #f7600e;
    cursor: pointer;
    
}
.header .arrow{
    position: absolute;
    width: 100%;
    text-align: center;
    bottom: 0;
    left: 0;
    padding: 40px 0;
    
}
.header .arrow i{
    color: #7b7b7b;
    width: 33px;
    height: 33px;
    line-height: 29px;
    border-radius: 50%;
    border: 2px solid #ccc;
    cursor: pointer;
    transition: all .5s ease-in-out;
    
}
.header .arrow i:hover{
    background-color: #f7600e;
    color: #fff;
    border: 2px solid #f7600e;
}
/*End Header*/

/*Start Fetures*/
.features{
    padding: 50px 0;
    overflow: hidden;
    
}
.features .box{
    float: left;
    width: 22%;
}
.features .box:not(:last-child){
    margin-right: 4%;
}
.features .box i{
   color: #f7600e;
    width: 100px;
    height: 100px;
    line-height: 100px;
    border-radius: 50%;
    border: 1px solid #eae2e2;
    cursor: pointer;
}
.features .box h3{
    font-weight: normal;
    color: #1f1d1d;
    margin-top: 40px;
}
.features .box p{
    color: #887e7e;
    font-weight: normal;
    line-height: 2;
}
/*End Fetures*/

/*Start Subscribe*/
.subscribe{
    background-image: url(../image/header.jpg);
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    color: #fff;
}
.subscribe form{
    padding: 50px 0;
    text-align: center;
    width: 700px;
    margin: auto;
}
.subscribe form input[type="email"]{
    padding:  0 10px;
    width: 320px;
    font-size: 20px;
    border-radius: 10px;
    position: relative;
    top: 2px;
    border: none;
    height: 33px;
    line-height: 33px;
    outline: none;
}
.subscribe form button{
    padding: 10px;
    width: 200px;
    border: none;
    background-color: #f7600e;
    color: #fff;
    border-radius: 10px;
    margin-left: 20px;
    font-size: 14px;
    outline: none;
}
/*End Subscribe*/

/*Start Our Works*/
.our-work{
    padding: 50px 0;
    overflow: hidden;
}
.our-work h2{
    font-weight: 500px;
    font-size: 35px;
    margin-bottom: 0;
}
.our-work h2 ~ p{
    line-height: 2;
    margin: 10px 0 40px;
}
.our-work .show-more{
    background-color: transparent;
    width: 180px;
    font-weight: normal;
    border: 1px solid #ccc;
    color: #555;
    border-radius: 10px;
    padding: 10px;
    margin-top: 20px;
    -webkit-transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    -o-transition: all .5s ease-in-out;
    transition: all .5s ease-in-out;
}
.our-work .show-more:hover{
    background: #f7600e;
    color: #fff;
    border: 1px solid #f7600e;
    cursor: pointer;
}
.our-work .item-box{
    overflow: hidden;
}
.our-work .item-box .item{
    float: left;
    width: 32%;
    margin-left: 1.333333%;
    margin-bottom: 12px;
    position: relative;
}
.our-work .item-box .item img{
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    width: 384px;
    height: 374px;
    border-radius: 10px;
}

.our-work .item-box .item .over{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(247,96,14,0.9);
    border-radius: 10px;
    -webkit-transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    -o-transition: all .5s ease-in-out;
    transition: all .5s ease-in-out;
    display: none;
}
.our-work .item-box .item:hover .over{
    display: block;
}
.our-work .item-box .item .over h4{
    color: #fff;
    font-size: 24px;
    margin-top: 50px;
    margin-bottom: 0;
}
.our-work .item-box .item .over p{
    color: #fff;
    margin-top: 10px;
    margin-bottom: 40px;
    line-height: 2;
    padding: 10px;
}
.our-work .item-box .item .over button{
    background-color: transparent;
    border: 1px solid #FFF;
    width: 180px;
    padding: 10px;
    border-radius: 10px;
    color: #fff;
    -webkit-transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    -o-transition: all .5s ease-in-out;
    transition: all .5s ease-in-out;
}
.our-work .item-box .item .over button:hover{
    background: #fff;
    color: #f7600e;
    border: 1px solid #fff;
    cursor: pointer;
}
/*End Our Works*/

/*Start Testimonials*/
.testim{
    
    background-image: url(../image/header.jpg);
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    
}
.testim .client{
    padding: 50px 0;
    color: #FFF;
    font-size: 20px;
}
.testim .client img{
    border-radius: 50%;
    width: 150px;
    height: 150px;
}
.testim .client p{
    line-height: 2;
    font-style: italic;
    font-weight: normal;
}
.testim .client span{
    color: #f7600e;
    font-size: 22px;
}
.testim .container{
    position: relative;
}
.testim .fa-chevron-right,
.testim .fa-chevron-left{
    position: absolute;
    top: 40%;
    color: #999;
    cursor: pointer;
    color: #7b7b7b;
    width: 43px;
    height: 43px;
    line-height: 43px;
    border-radius: 50%;
    cursor: pointer;
    text-align: center;
    transition: all .5s ease-in-out;
    
}
.testim .fa-chevron-right:hover,
.testim .fa-chevron-left:hover{
    background-color: #f7600e;
    color: #fff;
    border: 2px solid #f7600e;
}
.testim .fa-chevron-right{
    right: 0;
}
.testim .fa-chevron-left{
    left: 0;
}
/*End Testimonials*/

/*Start Our Team*/
.our-team{
    padding: 50px 0;
    overflow: hidden;
}
.our-team h2{
    font-weight: 500px;
    font-size: 35px;
    margin-bottom: 0;
}
.our-team h2 ~ p{
    line-height: 2;
    margin: 10px 0 60px;
    color: #666;
}
.our-team  .team-box{
    overflow: hidden;
}
.our-team  .team-box .team{
    float: left;
    width: 24%;
    margin-left: 1%;
}
.our-team  .team-box .team:hover img{
    filter: none;
    -webkit-filter: grayscale(0);
}
.our-team  .team-box .team:hover span,
.our-team  .team-box .team:hover p{
    color: #222;
}
.our-team  .team-box .team:hover .fa-facebook{
    background-color: #3b5998;
}
.our-team  .team-box .team:hover .fa-twitter{
    background-color: #1da1f2;
}
.our-team  .team-box .team:hover .fa-google-plus{
    background-color: #dd4b39;
}
.our-team  .team-box .team img{
    border-radius: 15px;
    width: 265px;
    height: 265px;
    filter: grayscale(1);
    filter: grayscale(1);
    -webkit-filter: grayscale(1);
}
.our-team  .team-box .team span{
    display: block;
    color: #666;
    margin-top: 15px;
    font-weight: bold;
    margin-bottom: 15px;
}
.our-team  .team-box .team i{
    margin-right: 5px;
    color: #fff;
    background-color: #999;
    border: 1px solid #999;
    border-radius: 50%;
    width: 35px;
    height: 35px;
    line-height: 35px;
    cursor: pointer;
}

.our-team  .team-box .team p{
    color: #666;
    font-weight: normal;
    line-height: 2;
}
/*End Our Team*/

/*Start Contact Us*/
.contact{
    background-image: url(../image/header.jpg);
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    color: #fff;
}
.contact .overlay{
    
    padding: 40px 0 80px ;
}
.contact h2{
    font-weight: 500px;
    font-size: 35px;
    margin-bottom: 0;
}
.contact h2 ~ p{
    line-height: 2;
    margin: 10px 0 60px;
    color: #E2E2E2;
}
.contact form{
    width: 700px;
    overflow: hidden;
    text-align: center;
    margin: auto;
}
.contact form input[type="text"],
.contact form input[type="email"]{
    width: 48%;
    padding: 0 10px;
    height: 40px;
    line-height: 40px;
    border: 1px solid #EEE;
    border-radius: 8px;
    
}
.contact form input[type="email"]{
    float: left;
}
.contact form input[type="text"]{
    float: right;
}
.contact form textarea{
    width: 100%;
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 10px;
    height: 140px;
    border: 1px solid #EEE;
    border-radius: 8px;
    
}
.contact form .icon{
    overflow: hidden;
    height: 50px;
}
.contact form .icon button{
    float: left;
    background-color: #f7600e;
    color: #fff;
    border: 1px solid #f7600e;
    width: 180px;
    padding: 10px;
    border-radius: 8px;
    cursor: pointer;
    transition: all .5s ease-in-out;
}
.contact form .icon button:hover{
    background-color: #fff;
    color: #f7600e;
    border: 1px solid #fff;
    
    -webkit-transform: translate(5px,5px); 
    transform: translate(5px,5px);

}
.contact form .icon .social-icon{
    float: right;
}
.contact form .icon .social-icon i{
    color: #fff;
    margin-right: 5px;
    border-radius: 50%;
    width: 35px;
    height: 35px;
    line-height: 35px;
    cursor: pointer;
    transition: all .5s ease-in-out;
}
.contact form .icon .social-icon i:hover{
    -webkit-transform: translate(5px,5px); 
    transform: translate(5px,5px);
}
.contact form .icon .social-icon .fa-facebook{
    background-color: #3b5998;
    border: 1px solid #3b5998;
}
.contact form .icon .social-icon .fa-twitter{
    background-color: #1da1f2;
    border: 1px solid #1da1f2;
}
.contact form .icon .social-icon .fa-google-plus{
    background-color: #dd4b39;
    border: 1px solid #dd4b39;
}
/*End Contact Us*/

/*Start Footer*/
.footer .overlay{
    padding: 15px 0;
    color: #e2e2e2;
    overflow: hidden;
    font-weight: normal;
}
.footer .overlay span:last-child{
    float: right;
}
/*End Footer*/